[Desktop Entry]
Name=Desktop Claw
GenericName=Git Client
Comment=GitHub Desktop fork with advanced functionality and improvements.
Exec=start-desktop-claw %U 
Icon=org.desktop_claw.desktop-claw
Type=Application
Terminal=false
StartupNotify=true
StartupWMClass=desktop-claw
MimeType=x-scheme-handler/x-github-client;x-scheme-handler/x-github-desktop-auth;x-scheme-handler/x-github-desktop-dev-auth;
Categories=Development;
Keywords=git;github;gitlab;bitbucket;
